<div style = "margin-top: -105px">

<div class = "row justify-content-md-center text-center">
    <div class = "col col-3 bg-white habilidades" style = "border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
        <i class="bi-hdd-fill"></i>
        <h3>Backend</h3>
        <p>
            Trabajo con desarrollo, pruebas automáticas y puesta en producción con entrega continua.
        </p>

        <p class = "text-primary header"> 
            Stack:
        </p>
        <p>
            ASP.NET Core, SQL Server, MySQL
        </p>

        <p class = "text-primary header">
            Experiencia: 
        </p>

        <ul>
            <li>Web APIs</li>
            <li>ASP.NET Core MVC</li>
            <li>Entity Framework Core</li>
            <li>Razor</li>
            <li>SOLID</li>
            <li>Patrones de diseño</li>
            <li>Docker</li>
        </ul>
    </div>
    <div class = "col col-3 bg-white habilidades" style = "border-radius: 0px 15px 15px 0px; box-shadow: 0 5px 5px 0 gray">
        <i class="bi-code-slash"></i>
        <h3>Front-End</h3>
        <p>
            Mi objetivo es crear front-ends robustos y con un diseño acorde a los requerimientos del negocio.
        </p>
        <p class = "text-primary header"> 
            Stack:
        </p>
        <p>
            Html, Css, JavasCript, Php, Reatc Js
        </p>

        <p class = "text-primary header">
            Experiencia: 
        </p>

        <ul>
            <li>React Hooks</li>
            <li>jQuery</li>
            <li>Material Design</li>
            <li>Javascript</li>
            <li>DevOps</li>
            <li>Now</li>
            <li>Jenkins</li>
        </ul>
      </div>
  </div>
</div>

