@model IEnumerable<Proyecto>

@if (Model is not null)
{
    <div class = "Container" >
        <div class = "row row-cols-1 row-cols-md-3 g-4" >
            @foreach (var proyecto in Model)
            {
                <div >
                    <div class = "card h-100" style = "border-radius: 15px 15px 15px 15px; box-shadow: 0 5px 5px 0 gray">
                        <img src = "@proyecto.ImagenURL" class = "card-img-top" alt = "Imagen proyecto" />
                        <div class = "card-body" >
                            <h5 class = "card-title">@proyecto.Titulo</h5>
                            <p class = "card-text">@proyecto.Descripcion</p>
                        </div>
                        <div class = "card-footer">
                            <a class = "btn btn-primary" href = "@proyecto.Link" target = "_blank"
                            rel = "noopener noreferrer">Visitar</a>
                        </div>
                     </div>
                </div>
            }
        </div>
    </div>
}


